.user-council-content-div .large-title{
    padding-bottom: 20px;
    width: 100%;
}
.user-council-content-div{
    padding-bottom: 20px;
}
.user-council-content-div p{
    padding-bottom: 20px;
}
.user-council-profile-div ul{
    list-style: disc;
    width: fit-content;
    margin: 0 auto;
}
.user-council-profile-div ul li {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    color: #19486D;
}
.user-council-profile-div ul li b {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #19486D;
}
.user-council-profile-div .profile-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding:30px 0;
}
.user-council-profile-div .profile-container .profile-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 256px;
    padding-bottom: 20px;
}
.user-council-profile-div .profile-container .profile-div img{
    margin-bottom: 40px;
}
.user-council-profile-div .profile-container .profile-div div{
    text-align: center;
}
.user-council-profile-div .profile-container .name{
    font-family: 'Heebo',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    color: #19486D;
}
.user-council-profile-div .profile-container .designation{
    font-family: 'Oxygen',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #F29C49;
}
.user-council-profile-div .profile-container .comp-name{
    font-family: 'Oxygen',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #8CA3B6;
}
.field-table-cnt .large-title{
    padding-bottom: 20px;
    width: 100%;
}

.stats-list-bar{
    display: none;
}
@media (max-width:1299px) {
    .main-tab-large{
        width: fit-content;
    }
}
@media (max-width:1200px) {
    .main-tab-large{
        width: fit-content !important;
    }
}
@media (max-width:768px){
    .stats-list-bar{
        display: block;
        width: 85%;
        height: 1px;
        position: relative;
        bottom: 0;
        background: #ECEAE5;
        margin: 0 auto;
        margin-bottom: 25px;
        overflow: hidden;
    }
    .user-council-profile-div .profile-container .profile-div img{
        padding-bottom:20px ;
    }

    .stats-touch-bar{
        width: 100%;
        background: #19486D;
        height: 1px;
        position: absolute;
        left: 0;
        top: 0;
        animation-name: mobianimateScrollLine;
        -webkit-animation-name: mobianimateScrollLine;
        animation-duration: 3s;
        -webkit-animation-duration: 3s;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    }
}
@media (max-width:575px) {
    .user-council-profile-div ul li{
        font-size: 14px;
        line-height: 30px;
    }
    .user-council-profile-div ul li b{
        font-size: 14px;
    }
    .main-tab-small .slider-nav .buyerapp{
        width: fit-content;
        background: linear-gradient(89.01deg, #4BA0E0 1.2%, #1C75BC 85.25%);
        margin: 0 auto !important;
        color: white;
        border-radius: 12px;
    }
}
.field-table-cnt .field-table-data table tbody tr td .view-btn{
    width: auto !important;
    padding: 0 20px;
    background: linear-gradient(90deg, #1c75bc, #4aa1e0 51%, #1c75bc) var(--x, 100%) / 200%!important;
    transition: all 0.5s;
}
.field-table-cnt .field-table-data table tbody tr td .view-btn:hover{
    --x:0%;
}
.field-table-cnt .field-table-data table thead tr th{
    padding: 15px !important;
}
.field-table-cnt .field-table-data table tbody tr .download-icon {
    text-align: center !important;
}
.field-table-cnt .field-table-data table thead tr .float-date{
    text-align: center !important;
    line-height: 20px;
}