.blog-list 
{
    .join-add 
    {
        margin-top: -90px;
        .join-in 
        {
            margin: 150px auto 0 auto; 
            .join-texts
            {
                .join-add-btn
                {
                    margin-top: 20px;
                }
            }
        }
    }
}
.banner-blog
{
    background: url(../images/blog-banner.png) no-repeat;
    background-size: cover;
    padding: 80px 0;
    @media(max-width: 767px)
    {
        padding: 35px 0;
    }
    h1 
    {
        font-weight: 600;
        font-size: 36px;
        color: #FFFFFF;
        font-family: 'Inter', sans-serif;
        margin-bottom: 20px;
        padding: 0 15px;
        @media(min-width:768px) and (max-width: 992px)
        {
            text-align: left;
        }
        @media(max-width: 767px)
        {
            font-size: 30px;
            text-align: center;
        }
    }
    .box-main
    {
        display: flex;
        flex-direction: row;
        gap: 35px;
        // width: 100%;
        @media(max-width: 767px)
        {
            flex-wrap: wrap;
            padding: 0 15px;
        }
        @media(min-width: 768px) and (max-width: 992px)
        {
            flex-wrap: wrap;
            padding: 0 15px;
        }
        @media(min-width: 993px) and (max-width: 1250px)
        {
            flex-wrap: wrap;
            padding: 0 15px;
        }
        .box-first
        {
            display: flex;
            gap: 20px;
            border-radius: 26px;
            background: #1C4E74;
            padding: 30px;
            width: 100%;
            @media(max-width: 767px)
            {
                flex-wrap: wrap;
            }
            @media(min-width: 768px) and (max-width: 992px)
            {
                flex-wrap: wrap;
            }
            .blog-img 
            {
                @media(max-width: 992px)
                {
                    width: 100%;
                }
                img 
                {
                 max-width: 360px;
                 border-radius: 20px;
                 @media(max-width: 992px)
                 {
                     max-width: 100%;
                     width: 100%;
                 }
                }
            }
            .blog-content 
            {
                color: #fff;
                font-family: 'Roboto';
                .blog-date
                {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    display: flex;
                    align-items: center;
                    letter-spacing: 0.01em;
                    color: #FFFFFF;
                }
                h4 
                {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 26px;
                    margin-top: 15px;
                }
                p 
                {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    margin-top: 15px;
                    line-height: 25px;
                }
                .blog-link 
                {
                    background: #164060;
                     border-radius: 15px;
                     padding: 5px 15px;
                     margin-top: 13px;
                     display: block;
                     width: fit-content;
                }
            }
        }
        .box-second
        {
            display: flex;
            justify-content: center;
            flex-direction: column;
            @media (max-width:767px)
            {
                width: 88%;
                margin: auto;
            }
            @media(min-width: 768px) and (max-width: 992px)
            {
                width: 88%;
                margin: auto;
            }
            @media(min-width: 993px) and (max-width: 1250px)
            {
                flex-direction: row;
                padding: 0 15px;
            }
            hr 
            {
                margin: 35px 0;
                border: 1px solid #3D6D92;
            }
            .box-right
            {
                display: flex;
                gap: 15px;
                align-items: center;
                margin-bottom: 15px;
                margin-top: 15px;
                @media (max-width: 300px)
                {
                    flex-wrap: wrap;
                }
                .right-blog-img
                {
                    @media (max-width: 300px)
                    {
                        width: 100%;
                    }
                    img 
                    {
                        width: 110px;
                        border-radius: 20px;
                        @media (max-width: 300px)
                        {
                            width: 100%;
                        }
                    }
                }
                .right-blog-content
                {
                    color: #fff;
                    .date-right-blog 
                    {
                        display: flex;
                        align-items: center;
                        @media (max-width: 767px)
                        {
                            flex-wrap: wrap;
                        }
                        .date-blogs 
                        {
                            font-family: 'Roboto';
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 16px;
                            @media (max-width: 300px)
                            {
                                display: flex;
                                flex-direction: column;
                            }
                        }
                        .btn-small 
                        {
                            margin-left: 10px;
                            font-size: 15px;
                            background: #164060;
                            border-radius: 15px;
                            padding: 5px 18px;
                            @media (max-width: 767px)
                            {
                                margin-left: 0px;
                                margin-top: 5px;
                                margin-bottom: 5px;
                            }
                        }
                    }
                    h6 
                    {
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 21px;
                    }
                }
            }
        }
    }
}
.filter-scetion
{
    padding: 50px 0;
    .drop-section
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (max-width: 767px)
        {
            justify-content: center;
        }
        @media (min-width: 768px) and (max-width: 1200px)
        {
            justify-content: center;
        }
        .drop-box{
            display: flex;
            @media (min-width: 768px) and (max-width: 1200px)
            {
                margin-bottom: 15px;
            }
            @media (max-width: 767px)
            {
                flex-wrap: wrap;
                width: 100%;
                justify-content: center;
            }
            .dropdown {
                width : 200px; 
                display: inline-block;
                position: relative;
                outline: none;
                margin: 10px;
                &:focus
                {
                    .dropdown-content 
                    {
                        outline: none;
                        transform: translateY(20px);
                        visibility: visible;
                        opacity: 1;
                        z-index: 9999;
                    }
                    .db2 {
                        display: inline-block;
                        &:focus
                        {
                            .dropdown-content {
                                outline: none;
                                visibility: hidden;
                                opacity: 0;
                              }
                        }
                    }
                }
                @media (max-width: 767px)
                {
                    width: 75%;
                    position: relative;
                    margin-right: 0px;
                    margin-bottom: 15px;
                }
                .dropbtn {
                    transition: 0.35s ease-out;
                    padding: 15px 30px;
                    background: #e7f2fb;
                    color: #60606b;
                    font-size: 16px;
                    font-family: "Roboto";
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-radius: 55px;
                    .dropdown-arrow 
                    {
                        width: 10px;
                    }
                }
                .dropdown-content
                {
                    position: absolute;
                    top: 70%;
                    background-color: #f7f7f7;
                    min-width: 100%;
                    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
                    z-index: 100000;
                    visibility: hidden;
                    opacity: 0;
                    transition: 0.35s ease-out;
                    @media (max-width:767px)
                    {
                        top: 55%;
                        margin-top: 25px;
                    }
                    a 
                    {
                        color: black;
                        padding: 12px 16px;
                        display: block;
                        text-decoration: none;
                        transition: 0.35s ease-out;
                        &:hover 
                        {
                            background-color: #e7f2fb85;
                        }
                    }
                }
                .db2 
                {
                    position: absolute;
                    top: 0; right: 0; bottom: 0; left: 0; opacity: 0;
                    cursor: pointer;
                    z-index: 10;
                    display: none;
                }
        }
    }
      .show-page-count 
      {
        color: #161519;
        font-size: 14px;
        font-family: 'Roboto';
      }
    }
}
.blog-section
{
    .cards-section 
    {
        .cards 
        {
            display: flex;
            // justify-content: space-between;
            gap: 65px;
            flex-wrap: wrap;
            @media (max-width: 1399px){
                gap: 0;
            }
            .card-box 
            {
                width: 28%;
                padding: 1%;
                margin-bottom: 10px;
                // background: rgb(236, 216, 216);
                @media (max-width: 767px) {
                    width: 100%;
                    padding: 5%;
                }
                @media (min-width: 768px) and (max-width: 1200px)
                {
                    width: 44%;
                    padding: 3%;
                }
                @media (min-width: 1201px) and (max-width: 1399px)
                {
                    width: 31%;
                    padding: 1%;
                }
                &.lazy-box
                {
                    display: none;
                }
                .card-img 
                {
                    width: 100%;
                    img 
                    {
                        border-radius: 15px;
                        width: 100%;
                    }
                }
                .blog-date 
                {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                    color: #19486D;
                    font-family: 'Roboto';
                    margin: 15px 0 0;
                    display: block;
                }
                h3 {
                    text-align: left;
                    font-weight: 600;
                    font-size: 20px;
                    font-family: 'Roboto';
                    color: #19486D;
                    line-height: 30px;
                    margin: 15px 0;
                }
                .blog-small-bn
                {
                    background: #E0F2FF;
                    border-radius: 23px;
                    color: #161519;
                    font-family: 'Roboto';
                    font-weight: 400;
                    display: block;
                    padding: 9px 15px;
                    margin-right: 15px;
                }
            }
        }
        .lazy-btn 
        {
            display: flex;
            justify-content: center;
            margin: 40px 0;
            .lazy 
            {
                background: none;
                padding: 15px 35px;
                border-radius: 50px;
                color: #1C75BC;
                border-color: #1C75BC;
                border: 1px solid;
                display: flex;
                align-items: center;
                cursor: pointer;
                img {
                    margin-left: 20px;
                }
            }
        }
    }
}




.form-control
{
    width: 50%;
    margin-top: 35px;
    input 
    {
        width: 100%;
        padding: 15px;
        background: #1C75BC;
        border: 1px solid #FFFFFF;
        border-radius: 69px;
        color: #fff;
        font-size: 15px;
        outline: 0;
          &::placeholder {
            color: #fff;
          }
          &:-ms-input-placeholder
          {
          color: #fff;
          }
          &::-ms-input-placeholder 
          {
          color: #fff;
          }
    }
}

// blog details
.blog-dd-title 
{
    background: #F1F8FF;
    padding: 80px 0;
    height: 600px;
    @media (max-width:767px) 
    {
        padding: 50px 0;
        height: 345px;
    }
    @media (min-width: 768px) and (max-width: 1200px)
    {
        padding: 40px 0;
        height: 375px;
    }
    .blog-details-title 
    {
        width: 75%;
        margin: auto;
        h1 
        {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 42px;
            line-height: 125%;
            text-align: center;
            color: #19486D;
            @media (max-width:767px)
            {
                font-size: 25px;
            }
            @media (min-width: 768px) and (max-width: 1200px)
            {
                font-size: 35px;
            }
        }
    }
}
.blog-details-content
{
    padding-bottom: 90px;
    margin-top: -470px;
    padding: 0 15px;
    @media (max-width:300px) 
    {
        margin-top: -60px !important;
    }
    @media (max-width:767px) 
    {
        margin-top: -165px;
    }
    @media (min-width: 768px) and (max-width: 1200px)
    {
        font-size: 35px;
        margin-top: -180px;
    }
    .blog-details-section 
    {
        .blog-main-img 
        {
            img {
                width: 100%;
                border-radius: 25px;
            }
            .date-details 
            {
                width: 80%;
                margin: auto;
                padding: 30px 20px;
                @media (max-width:767px) 
                {
                    width: 90%;
                    padding: 15px 5px;
                }
                ul 
                {
                    display: flex;
                    align-items: center;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    flex-wrap: wrap;
                    li 
                    {
                        padding-right: 20px;
                        display: flex;
                        align-items: center;
                        margin-bottom: 15px;
                        .dots
                        {
                            width: 2px;
                            height: 2px;
                            border-radius: 50px;
                            background-color: #000;
                            margin-right: 15px;
                        }
                        img 
                        {
                            width: 30px;
                        }
                    }
                }
            }
        }
        .bd-content 
        {
            margin-top: 30px;
            display: flex;
            margin-bottom: 75px;
            @media (max-width: 767px)
            {
                margin-top: 5px;
                margin-bottom: 50px;
            }
            @media (min-width: 768px) and (max-width: 1200px)
            {
                margin-top: 0px;
            }
            .fixed-icons 
            {
                // width: 5%;
                width: 10%;
                position: static;
                padding: 0 15px;
                text-align: center;
                margin-top: 20px;
                @media (max-width: 300px)
                {
                    padding: 0 0px;
                }
                @media (max-width: 767px)
                {
                    width: 10%;
                }
                ul 
                {
                    position: sticky;
                    top: 10px;
                    bottom: auto;
                    li 
                    {
                        margin-bottom: 20px;
                        a 
                        {
                            width: 45px;
                            display: flex;
                            height: 45px;
                            background: #fff;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50px;
                            border: 1px solid #DDE4E9;
                        }
                    }
                }
            }
            .blog-descriptions
            {
                width: 85%;
                margin: auto;
                @media (max-width:300px)
                {
                    width: 75%;
                    margin-left: 40px;
                }
                @media (max-width: 767px) 
                {
                    width: 70%;
                }
                .breadcrumb 
                {
                    padding: 10px 0px;
                    list-style: none;
                    li 
                    {
                        display: inline;
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;

                        &+li::before 
                        {
                            padding: 3px;
                            color: #19486D;
                            content: "/\00a0";
                        }
                        &:last-child 
                        {
                            color: #497394;
                            font-weight: 400;
                        }
                        a 
                        {
                            color: #19486D;
                            text-decoration: none;
                            &:hover 
                            {
                                color: #01447e;
                            }
                        }
                    }
                }
                .title-h2
                {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 30px;
                    line-height: 45px;
                    max-width: 100%;
                    margin: 25px 0;
                    color: #19486D;
                    @media (max-width:767px) {
                        font-size: 20px;
                        line-height: 30px;
                    }
                }
                p 
                {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 25px;
                    color: #19486D;
                    margin-bottom: 25px;
                    @media (max-width:767px) {
                        text-align: justify;
                    }
                }
                .title-h5 
                {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 25px;
                    line-height: 30px;
                    color: #19486D;
                    margin-bottom: 20px;
                }
                ol 
                {
                    margin: 30px 0 30px;
                    li 
                    {
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 15px;
                        color: #19486D;
                        margin-bottom: 15px;
                        list-style: decimal;
                        margin-left: 15px;
                    }
                }
                .blog-profile-details
                {
                    display: flex;
                    align-items: center;
                    gap: 40px;
                    @media (max-width:767px) 
                    {
                       gap: 0px;
                       flex-wrap: wrap;
                    }
                    .blog-img-details 
                    {
                        width: 245px;
                            height: 245px;
                            @media (max-width:300px) 
                            {
                                height: 180px;
                            }
                            @media (max-width:767px) 
                            {
                                margin-bottom: 15px;
                            }
                        img 
                        {
                            border-radius: 50%;
                            @media (max-width:300px) 
                            {
                                width: 100%;
                            }
                        }
                    }
                }
                .tags 
                {
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    flex-wrap: wrap;
                    @media (max-width: 767px)
                    {
                        gap: 10px;
                    }
                    strong 
                    {
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        color: #000000;
                    }
                    p 
                    {
                        background: #E0F2FF;
                        border-radius: 23px;
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 15px;
                        color: #161519;
                        padding: 6px 15px;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
.details-blog-list 
{
    background: #FFFFF7;
    padding: 80px 0 120px;
    @media (max-width:767px)
    {
        padding: 35px 0;
    }
    .title-blog
    {
        padding: 15px;
    }
    h3 
    {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 48px;
        color: #19486D;
        text-align: left;
    }
}

.blog-details
{
    .join-add {
        margin-top: -44px;
        .join-in 
        {
            margin: 50px auto 0 auto;
        }
    }
}